.fixed-spacer {
    width: 32px;
    -webkit-app-region: drag;
}

.btn-spacer {
  width: 16px;
  -webkit-app-region: drag;
}

.baud-rate-select {
    width: 128px;
}

.content-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 0;
/*  background-color: blue;
  border: 8px solid red;*/
}

.data-container {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 0;
  bottom: 24px;
  overflow-y: scroll;
  /*scroll-behavior: smooth;
  background-color: grey;
  border: 2px solid white;*/
}

:host ::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

p {
  font-family: "Fira Code", Consolas, monospace;
  line-height: 1.0em;
  font-size: 14px;
}

p.control-entry {
  line-height: 1.4em;
  color: #4cff93;
}

p.error-entry {
  line-height: 1.4em;
  color: #ff0018;
}

.timestamp {
  color: white;
  margin-right: 8px;
  display: inline-block;
}

.hex-number {
  color: mediumspringgreen;
  margin-left: 16px;
}
