<mat-menu #serialPortMenu="matMenu">
    <ng-template matMenuContent let-path="path">
        <button *ngFor="let baud of baudRates" (click)="onClick(path, baud)" mat-menu-item>
            Open @ {{baud}} baud
        </button>        
    </ng-template>
</mat-menu>

<button mat-raised-button color="primary" (click)="onRefresh()">Refresh</button>
<mat-checkbox color="primary" [(ngModel)]="hideEmpty">Hide Empty</mat-checkbox>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="path">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Path</th>
        <td mat-cell *matCellDef="let sp">
            <button mat-stroked-button [matMenuTriggerFor]="serialPortMenu" [matMenuTriggerData]="{path: sp.path}" >{{sp.path}}</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="pnpId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>pnpId</th>
        <td mat-cell *matCellDef="let sp">{{sp.pnpId}}</td>
    </ng-container>
    <ng-container matColumnDef="manufacturer" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
        <td mat-cell *matCellDef="let sp">{{sp.manufacturer}}</td>
    </ng-container>
    <ng-container matColumnDef="vendorId" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>vendorId</th>
        <td mat-cell *matCellDef="let sp">{{sp.vendorId}}</td>
    </ng-container>
    <ng-container matColumnDef="productId" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>productId</th>
        <td mat-cell *matCellDef="let sp">{{sp.productId}}</td>
    </ng-container>
    <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>serialNumber</th>
        <td mat-cell *matCellDef="let sp">{{sp.serialNumber}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

