<table>
    <thead>
        <tr>
            <th>path</th>
            <th>manufacturer</th>
            <th>vendor id</th>
            <th>product id</th>
            <th>serial number</th>
            <th>pnp id</th>
            <th>location id</th>
        </tr>
    </thead>
    <tbody *ngFor="let sp of portInfo">
        <tr>
            <td>{{sp.path}}</td>
            <td>{{sp.manufacturer}}</td>
            <td>{{sp.vendorId}}</td>
            <td>{{sp.productId}}</td>
            <td>{{sp.serialNumber}}</td>
            <td>{{sp.pnpId}}</td>
            <td>{{sp.locationId}}</td>
        </tr>
    </tbody>
</table>
<button (click)="onRefresh()">Refresh</button>
