table {
    width: 100%;
}

.serial-port-table {
  opacity: 90%;
}

.fixed-spacer {
  width: 32px;
  height: 100%;
  -webkit-app-region: drag;
}

.mat-toolbar {
  font-size: 18px;
}

.hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
