@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #6bfba6;
  background: #2c2c2c;
  background-image: url(assets/al-gore-monotone.png);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: 15%;
  margin: 0px;
  font-family: Roboto, SansSerif;
}

.spacer {
  flex: 1 1 auto;
}
